:root {
  --auth-color: #3674ae;
}

main {
  width: 100%;
  max-height: 95vh;
  overflow: hidden;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 100%;
  max-width: 1020px;
  height: 600px;
  background-color: var(--secondary-background-color);
  border-radius: 3.3rem;
}

.inner-box {
  position: absolute;
  width: calc(100% - 3.1rem);
  height: calc(100% - 3.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.forms-wrap {
  position: absolute;
  height: 100%;
  width: 45%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  transition: 0.8s ease-in-out;
}

form {
  max-width: 360px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
  padding: 0 0;
}

form.sign-up-form {
  opacity: 0;
  pointer-events: none;
}

.heading h2 {
  font-size: 2rem;
  font-weight: 600;
  text-wrap: nowrap;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.heading h6 {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 1rem;
  display: inline;
  padding-right: 5px;
}

.toggle {
  color: #5aabf8;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}

.toggle:hover {
  color: var(--auth-color);
}

.input-wrap {
  position: relative;
  height: 40px;
  line-height: 40px;
  margin-bottom: 2.3rem;
}

.input-wrap input {
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 1em;
  line-height: 40px;
  background-color: transparent;
  border-bottom: var(--primary-text-color) 1px solid;
  transition: 0.3s ease;
  border-radius: 0; 
}

label {
  position: absolute;
  font-size: 1em;
  color: var(--primary-text-color);
  transition: 0.4s ease;
  background-color: transparent;
}

.input-wrap input:focus + label,
.input-wrap input:not(:placeholder-shown)  + label {
  height: 30px;
  line-height: 30px;
  width: 100%;
  background-color: var(--secondary-background-color);
  transform: translateY(-20px);
  font-size: 0.8rem; 
}


.sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: var(--auth-color);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 0.8rem;
  font-size: 1rem;
  transition: 0.3s;
}

.sign-btn:hover {
  background-color: #529de4;
}

.sign-btn:active {
  background-color: #64b0f8;
}

.text {
  color: #bbb;
  font-size: 0.8rem;
  width: 100%;
}

.text a {
  color: var(--primary-text-color);
  transition: 0.3s;
}

.text a:hover {
  color: var(--auth-color);
}

main.sign-up-mode form.sign-in-form {
  opacity: 0;
  pointer-events: none;
}

main.sign-up-mode form.sign-up-form {
  opacity: 1;
  pointer-events: all;
}

main.sign-up-mode .forms-wrap {
  left: 55%;
}

main.sign-up-mode .carousel {
  left: 0%;
}

.carousel {
  position: absolute;
  height: 100%;
  width: 55%;
  left: 45%;
  top: 0;
  background-color: var(--auth-color);
  color: #fff;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  overflow: hidden;
  transition: 0.8s ease-in-out;
}

.images-wrapper {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: 2fr;
  justify-content: center;
  align-items: center;

  width: 90%;
}

.image {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/2;
  opacity: 0;
  transition: opacity 0.3s, transform 0.5s;
}

.img-1 {
  transform: scale(0.4, 0.5);
  width: 80%;
  margin-left: 3rem;
}

.img-2 {
  transform: scale(0.4, 0.5);
}

.img-3 {
  transform: scale(0.4, 0.5);
}

.image.show {
  opacity: 1;
  transform: none;
}

.text-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-wrap {
  max-height: 2.2rem;
  overflow: hidden;
  margin-bottom: 2.5rem;
}

.text-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: translateY(0);
  transition: 0.5s;
}

.text-group h2 {
  line-height: 2.2rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.bullets {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bullets span {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--secondary-text-color);
  margin: 0 0.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.bullets span.active {
  width: 1.1rem;
  background-color: #fff;
  border-radius: 1rem;
}

@media (max-width: 850px) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    padding: 1.5rem 2.5rem 2rem;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  .heading {
    margin: 2rem 0;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  main.sign-up-mode form.sign-in-form {
    transform: translateX(-100%);
  }

  main.sign-up-mode form.sign-up-form {
    transform: translateX(0%);
  }

  .carousel {
    position: revert;
    height: auto;
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
  }

  .images-wrapper {
    display: none;
  }

  .text-slider {
    width: 100%;
  }
}

@media (max-width: 530px) {
  main {
    padding: 0rem;
  }

  .box {
    border-radius: 2rem;
  }

  .inner-box {
    padding: 1rem;
  }

  .carousel {
    padding: 1.5rem 1rem;
    border-radius: 1.6rem;
  }

  .text-wrap {
    margin-bottom: 1rem;
  }

  .text-group h2 {
    font-size: 1rem;
    text-wrap: nowrap;
  }

  form {
    padding: 1rem 0rem 1.5rem;
  }
}
