@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@import "./sidebar.css";
@import "./task.css";
@import "./themes.css";
@import "./loading.css";

html,
body {
  color: var(--primary-text-color);
  background: var(--primary-background-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  transition: background-color 0.7s ease;
  overflow: hidden;
}

@media (max-width: 800px) {
  html,
  body {
    overflow: visible;
  }
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.stroke-svg {
  stroke: var(--primary-text-color);
}

.fill-svg {
  fill: var(--primary-text-color);
}

label {
  cursor: text;
}

canvas {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.user-details ~ input:focus {
  outline-style: solid;
  outline-color: white;
  outline-width: 2px;
  border-radius: 0.375rem;
}

::-ms-reveal {
  filter: invert(var(--invert-value));
}

.profile-name {
  overflow-x: visible;
  overflow-y: hidden;
}
.profile-name::-webkit-scrollbar {
  height: 2px;
}

.profile-name::-webkit-scrollbar-thumb {
  background-color: var(--primary-text-color);
  border-radius: 10px;
}
